# Server
PORT=3000
NODE_ENV=development

# Supabase
SUPABASE_URL=
SUPABASE_SERVICE_KEY=

# AliExpress API
ALIEXPRESS_APP_KEY=
ALIEXPRESS_APP_SECRET=
ALIEXPRESS_ACCESS_TOKEN=

# Green API
GREEN_API_URL=https://api.greenapi.com
GREEN_API_INSTANCE_ID=
GREEN_API_TOKEN=

# Vercel Cron Secret
CRON_SECRET=
